<!DOCTYPE html>
<html>
  <head>

    <title>Inventory</title>
    <!-- META -->
    <meta charset="utf8">
    <meta name="description" content="Orders page for McFarland High School's Spartan Manufacturing Site">
    <meta name="author" content="Joseph Pakes Holt">
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascript/universal.js"></script>
    <script src="/javascript/core.js"></script>


  </head>
  <body class="page-body" ng-app="SpartanManApp">
    <!-- Navigaiton -->
    <div id="nav-placeholder"></div>
    <!-- Title -->
    <div class="page-title" style="background-color:#3498db">
      <p class="page-h1">Inventory</p>
      <p class="page-h2">Summary of all pending orders</p>
    </div>
    <!-- Table -->
    <div style="padding-top:15px;">
      <table class="table page-table" ng-controller="dataController" id="productTable">
        <!-- Headings -->
        <thead>
          <tr>
            <th scope ="col">Name</th>
            <th scope ="col">Inventory</th>
            <th scope ="col">Pending Orders</th>
            <th scope ="col">Net</th>
          </tr>
        </thead>
        <!-- Body -->
        <tbody>
          <!-- Current orders -->
          <tr ng-repeat="p in products">
            <td scope="row">{{ p.name }}</td>
            <td scope="row">{{ p.stock }}</td>
            <td scope="row">{{ p.pending }}</td>
            <td scope="row">{{ p.stock-p.pending }}</td>
            <td>
              <button type="button" ng-click="deleteProduct($index)" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
          <!-- Add new order -->
          <tr class="add-order-text" id="newOrder">
            <td scope="row"><input style="border:none" type="text" name="name" placeholder="Type..."></td>
            <td scope="row"><input style="border:none" type="text" name="inventory" placeholder="Type..."></td>
            <td scope="row"><input style="border:none" type="text" name="pending" placeholder="Type..."></td>
            <td scope="row">0</td>
            <td>
              <button type="button" style="background-color: #27ae60; color: white;" ng-click="addProduct($index)" class="btn btn-xs">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </body>
</html>
