<!DOCTYPE html>
<html>
  <head>

    <title>Inventory</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/javascript/core.js"></script>

  </head>
  <body ng-app="SpartanManApp">
    <a href="./index.html">Main Hub</a>
    <h1>Spartan Manufacturing Inventory</h1>
    <!-- <a href="./modifyinventory.html">Modify Inventory</a> -->
    <div>
      <table style="width:100%" ng-controller="dataController">
        <thead>
          <th align='left'>Product Name</th>
          <th align='left'>Current Inventory</th>
          <th align='left'>Pending Orders</th>
          <th align='left'>Net</th>
        </thead>
        <tbody ng-repeat="p in products">
          <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.stock }}</td>
            <td>{{ p.pending }}</td>
            <td>{{ p.stock - p.pending }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <!-- Add New product -->
    <h3>Add New Product</h3>
    <form action="/api/addproduct" method="POST">
      Product Name:<br>
      <input type="text" name="name"><br>
      Current Inventory:<br>
      <input type="text" name="stock"></br>
      <input type="submit" value="submit">
    </form>
    <!-- Modift inventory stock -->
    <h3>Modify Inventory Stock</h3>
    <form action="/api/changeinventory" method="POST" ng-controller="dataController">
      Product Name:<br>
      <select name="name">
        <option ng-repeat="p in products" value="{{ p.name }}">{{ p.name }}</option>
      </select><br>
      New Inventory:<br>
      <input type="text" name="inventory"><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
